{% extends "basetemp/main_base.html" %}
{% block content %}
{% load static %}

<style>
	.tamenus {
		width: 50%;
	}
	.subta {
		width: 30%;
		margin-top: 10px;
	}
	.caption {
		color: #0d47a1;
	}
</style>

<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
<div class="form-group">
	<h6 class="caption"><a href="/travelauth/local_dash/">New Local Travel Request</a> / Non-Training Related</h6>
	<br>
              
              <br>
              <div class="row">
                 <div class="col-lg-12 col-md-12 col-xs-12">
                    <button type="button" class="btn btn-primary tamenus" data-toggle="collapse" data-target="#attendee">Attendee Details</button>
                    <div id="attendee" class="collapse in">
                    	<br>
                      <!-- start of attendee details -->
                      <table>
                        <tr>
                          <select class="form-control" id="rc" name="rc" hidden="True">
                          {% for items in rc %}      
                            <option value="{{items.catt_id}}"{% if items.catt_id == 3 %}selected{% endif %}>{{items.request_category}}</option>
                          {% endfor %}
                          </select>
                        </tr>
                      	<tr>
                      		<td>Program Title/ Purpose <i style="font-size:14px;color:red">*</i></td>
                      		<td><input type="text" name="program_title" class="form-control" required></td>
                      	</tr>
                      	<tr>
                      		<td>Last Name <i style="font-size:14px;color:red">*</i></td>
                      		<td><input type="text" name="lname" class="form-control" required></td>
                      	</tr>
                      	<tr>
                      		<td>First Name <i style="font-size:14px;color:red">*</i></td>
                      		<td><input type="text" name="fname" class="form-control" required></td>
                      	</tr>
                      	<tr>
                      		<td>Middle Initial <i style="font-size:14px;color:red">*</i></td>
                      		<td><input type="text" name="mname" class="form-control" required></td>
                      	</tr>
                      	<tr>
                      		<td>Suffix</td>
                      		<td><input type="text" name="suff" class="form-control"></td>
                      	</tr>
                      	<tr>
                      		<td>Position <i style="font-size:14px;color:red">*</i></td>
                      		<td><input type="text" name="pos" class="form-control" required></td>
                      	</tr>
                       <tr>
                          <td>Office/Division <i style="font-size:14px;color:red">*</i></td>
                          <td>
                          <input type="text" name="office" class="form-control">
                          </td>
                        </tr>
                      	<tr>
                      		<td>Gender <i style="font-size:14px;color:red">*</i></td>
                      		<td>
	                      		<select class="form-control" id="sel1" name="gender">
				                    <option value="Male">Male</option>
				                    <option value="Female">Female</option>
				                </select>
			            	</td>
                      	</tr>

                      	<tr>
                      		<td>Civil Status <i style="font-size:14px;color:red">*</i></td>
                      		<td>
	                      		<select class="form-control" id="sel1" name="civil_status">
				                    <option value="Single">Single</option>
				                    <option value="Married">Married</option>
				                    <option value="Divorced">Divorced</option>
				                    <option value="Widowed">Widowed</option>
				                </select>
			            	</td>
                      	</tr>

                      	<tr>
                      		<td>Disability</td>
                      		<td><input type="text" name="disability" class="form-control"></td>
                      	</tr>

                      	<tr>
                      		<td>Ethnicity</td>
                      		<td><input type="text" name="ethnicity" class="form-control"></td>
                      	</tr>

                      	<tr>
                      		<td>Agency <i style="font-size:14px;color:red">*</i></td>
                      		<td>
	                      		<select class="form-control" id="sel1" name="agency">
					                    <option value="DOTr-CO">DOTr-CO</option>
					                    <option value="LTO">LTO</option>
					            </select>
				        	</td>
                      	</tr>

                      	<tr>
                      		<td>Destination/Location <i style="font-size:14px;color:red">*</i></td>
                      		<td><input type="text" name="destination" class="form-control" required></td>
                      	</tr>

                      	<tr>
                      		<td>Program Dates <i style="font-size:14px;color:red">*</i></td>
                      		<td>
                      			From: <input type="date" name="from" required>
                      			To: <input type="date" name="to" required>
                      		</td>
                      	</tr>
                      </table>
                      
                      <!-- end of attendee details -->
                    </div>
                 </div> 
              </div>
              <br>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                   <button type="button" class="btn btn-primary tamenus" data-toggle="collapse" data-target="#cat">Category </button>

                  <div id="cat" class="collapse in">
                    <table>
                      <tr>
                        <td>
                          
                          <input type="radio" id="male" name="gender" value="male">
                          <label for="male">Meeting</label><br>
                          <input type="radio" id="female" name="gender" value="female">
                          <label for="female">Site Inspection</label><br>
                          <input type="radio" id="other" name="gender" value="other">
                          <label for="other">Ocular Visit</label><br>
                          <input type="radio" id="other" name="gender" value="other">
                          <label for="other">Others</label>
                          <input type="text" name="others_state" class="form-control">
                                
                          
                        </td>
                      </tr>
                    </table>

                  </div>

                </div>
                
              </div>
              <br>
              <div class="row">
                 <div class="col-lg-12 col-md-12 col-xs-12">
                    <button type="button" class="btn btn-primary tamenus" data-toggle="collapse" data-target="#req">Requirements </button>
                    <div id="req" class="collapse in">
                        <table>
                          <tr>
                            <td>
                            Invitation, Program
                            </td>
                            <td>
                              <input type="file" name="invitation" type="file">
                            </td>
                          </tr>

                        
                        
                        </table>
                      </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12">

                    	<!-- start of international -->
                    	<button type="button" class="btn btn-primary tamenus" data-toggle="collapse" data-target="#proj">Projected Expenses</button>
	                    <div id="proj" class="collapse in">
	                      <table>
	                      	<tr>
	                      		<td>
	                   				Transportation
	                      		</td>
	                      		<td>
	                      			<input type="file" name="trans" type="file">
	                      		</td>
	                      	</tr>

                          <tr>
                            <td>
                            Daily Subsistence Allowance, if applicabl based on EO 77
                            </td>
                            <td>
                              <input type="file" name="daily" type="file">
                            </td>
                          </tr>

                          <tr>
                            <td>
                            Others
                            </td>
                            <td>
                              <input type="file" name="oth" type="file">
                            </td>
                          </tr>

	                      	

	                      
	                      </table>
	                    </div>
                    	<!-- end of internatioanl -->
                    	<br>
                      	<!-- start of meetings -->
                      	
                      	<!-- end of FAT -->
                    </div>
                    </div>
                 </div> 
              </div>

              <br>

              
              <!-- start of buttons -->
              <br>
              <div class="row">
              	<div class="col-lg-12 col-md-12 col-xs-12">
              		<input type="submit" name="draft" value="Save as Draft" class="btn btn-warning">
              		<input type="submit" name="save" value="Submit" class="btn btn-danger">
              	</div>
              </div>
              <!-- end of buttons -->	
            </div>
		</form>
        </main>
        


{% endblock content %}