{% extends "basetemp/main_base.html" %}
{% block content %}
{% load static %}

{% for item in designation %}
          {% if item.role_id == 2 %} <!-- Action Officer -->


{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}


<form method="post">
  {% csrf_token %}

  {{ form.as_table }}
  <button type="submit">Save changes</button>
</form>
{% else %}
<center>
<h1>PAGE DOES NOT EXIST</h1>
{% endif %}
</center>
{% endfor %}






</main>
{% endblock content %}
