<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
</style>


<table border="1" style="border: 1px solid black; border-collapse: collapse;">
<tr>
<th colspan="2" style="text-align:left; background-color:#0DF305; border: 1px solid black; border-collapse: collapse;">OTHER ISSUES</th>
</tr>
  <tr>
    <td colspan="2" style="border: 1px solid black; border-collapse: collapse;">Hi, <b>{{with_issues.first_name}} {{with_issues.first_name}}!</b><br>
We would like to inform you that upon evaluation of the requested travel (see request details
below), there are discrepancies with the attached documents.<br>
<i>Kindle settle the following document/s and attach within the day:</i> <b> {% for with_issues in with_issues.with_issues%}{{with_issues}}{% if forloop.last %}.
                             {%else%},
                         {% endif %}{%endfor%} </b><br>
Please note that failure to comply within the timeline would mean a delay in the processing
of TA.<br><br>
Thank you!<br>
-HRD Travel Team
</td>
  </tr>

<tr>
  <td colspan="2" style="border: 1px solid black; border-collapse: collapse;">
     <table border="1" width="100%" style="border: 1px solid black; border-collapse: collapse;">
     <tr>
     <th colspan="2" style="background-color:#A5AAA8">REQUEST DETAILS</th>
     </tr>
        <tr>
       <td width="50%" style="background-color:#C8CFCC; border: 1px solid black; border-collapse: collapse;">Request Reference Number:</td>
       <td width="50%" style="border: 1px solid black; border-collapse: collapse;"> TR-{{ with_issues.date_filed|date:"Y-m-d"}}-{{ with_issues.travelreq_id }}</td>
       </tr>
       <tr>
       <td width="50%" style="background-color:#C8CFCC; border: 1px solid black; border-collapse: collapse;">Request Date:</td>
       <td width="50%" style="border: 1px solid black; border-collapse: collapse;">{{with_issues.date_filed}}</td>
       </tr>
       <tr>
       <td width="50%" style="background-color:#C8CFCC; border: 1px solid black; border-collapse: collapse;">Program Title/Purpose:</td>
       <td width="50%" style="border: 1px solid black; border-collapse: collapse;">{{with_issues.program_title}}</td>
       </tr>
        <tr>
        <td width="50%" style="background-color:#C8CFCC; border: 1px solid black; border-collapse: collapse;">Travel Dates:</td>
       <td width="50%" style="border: 1px solid black; border-collapse: collapse;">{{with_issues.programdates_from}} to {{with_issues.programdates_to}}</td>
       </tr>
       <tr>
         <td width="50%" style="background-color:#C8CFCC; border: 1px solid black; border-collapse: collapse;">Destination:</td>
       <td width="50%" style="border: 1px solid black; border-collapse: collapse;">{{with_issues.destination}}</td>
       </tr>




     </table>
    </tr>
</td>
</tr>

</table>
