{% extends "basetemp/main_base.html" %}
{% block content %}
{% load static %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.collapsible {
  background-color: #244A80;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #377A98;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #D0EFFF;
}

.collapsible, .content {
  width: 900px;
}
.bb {
  background-color: black;
  color: white;
}

/* .container_2 {
	display: none;
} */

@media print {
        /* body * {
          display:none;
        } */
        .container_1 {
          display:none;
        }
        .random {
          display:none;
        }
        .title {
          display:none;
        }

        .container_2 {
          display:block;
        }
      }


	td {
    	text-transform:uppercase;
    	color:black;
    	text-align: left;
   	 }

</style>
<a href="/requestor/requests"><h6 class="caption">Scholarship Application </a>/ Details</h6>

<body>
    <div class="container_1" id='not_printable'>
      <table class='table'>
        <tr>
          <td style='border-color: #000000'><b>Reference:</b> {{ requestors.category.shortterm }}-{{requestors.date_filed|date:"y-m-d"}}-000{{ requestors.incrementor }}</td>
          <td style='border-color: #000000'><b>Category:</b> {{ requestors.category }}</td>
          <td style='border-color: #000000'><b>Sector:</b> {{ requestors.sector_for_scholarship }}</td>
        </tr>
        <tr>
          <td style='border-color: #000000'><b>Program Title:</b> {{ requestors.prog_title }}</td>
          <td style='border-color: #000000'><b>Venue:</b> {{ requestors.location }}</td>
          <td style='border-color: #000000'><b>From:</b> {{ requestors.start_date }} <b> to:</b> {{ requestors.end_date }}</td>
        </tr>
      </table>
    </div>


    <div class = "container_2" id="printable">
      <table class='table'>
        <tr class='row'>
          <p class="bb"><b>I. Nominee's Information</b></p>
        </tr>
        <tr>
          <td><b>Title :</b></td>
          <td>{{ requestors.name_title }}</td>
        </tr>
        <tr>
          <td><b>Name :</b></td>
          <td>{{ requestors.last_name }}, {{ requestors.first_name }} {{ requestors.middle_initial }}</td>
        </tr>
        <tr>
          <td><b>Nickname :</b></td>
          <td>{{ requestors.nickname }}</td>
        </tr>
        <tr>
          <td><b>Position :</b></td>
          <td>{{ requestors.position }}</td>
        </tr>
        <tr>
          <td><b>Salary Grade :</b></td>
          <td>{{ requestors.salary_grade }}</td>
        </tr>
        <tr>
          <td><b>Office/Division :</b></td>
          <td>{{ requestors.office }}</td>
        </tr>
        <tr>
          <td><b>Email :</b></td>
          <td>{{ requestors.e_mail }}</td>
        </tr>
        <tr>
          <td><b>Mobile Number :</b></td>
          <td>{{ requestors.mobile_no }}</td>
        </tr>
        <tr>
          <td><b>Office Number :</b></td>
          <td>{{ requestors.office_no }}</td>
        </tr>
        <tr>
          <td><b>Address :</b></td>
          <td>{{ requestors.address }}</td>
        </tr>
        <!--  -->
      </table>
      <table class="table">
        <tr>
          <p class="bb"><b>Gender Equality, Disability and Social Inclusion (GEDSI)</b></p>
        </tr>
        <tr>
          <td><b>Gender :</b></td>
          <td>{{ requestors.gender }}</td>
        </tr>
        <tr>
          <td><b>Age :</b></td>
          <td>{{ requestors.age }}</td>
        </tr>
        <tr>
          <td><b>Civil Status :</b></td>
          <td>{{ requestors.civil_status }}</td>
        </tr>
        <tr>
          <td><b>Disability :</b></td>
          <td>{{ requestors.disability }}</td>
        </tr>
        <tr>
          <td><b>Ethnicity :</b></td>
          <td>{{ requestors.ethnicity }}</td>
        </tr>
        </table>
        <table class=table>
          <tr>
            <p class="bb"><b>II. Actual Duties and Responsibilities :</b></p>
          </tr>
          <tr>
            <td><p>{{ requestors.duties }}</p></td>
          </tr>
        </table>
        <table class=table>
          <tr>
            <p class="bb"><b>III. Core Functions of the Office (To be filled out by the Supervisor):</b></p>
          </tr>
          <tr>
            <td><p></p></td>
          </tr>
        </table>
        <table>
          <p><i>This is to certify that I have briefed the nominee of the expected output and we have agreed on how and when he/she will apply the new learning in the workplace.</i></p>

        </table>

        <table class="table noborder">

        <tr>
          <td>
            <h6>________________________________________</h6>
            <h6>Printed name of the Immediate Supervisor and Signature</h6>
          </td>
          <td>
            <h6>________________________________________</h6>
            <h6>Printed name of Nominee and Signature</h6>
          </td>
        </tr>
        <tr>
          <td><h6>Recommended by: </h6></td>
          <td></td>
        </tr>

        <tr>
          <td><h6>________________________________________</h6>
          <h6>Concerned Director or any equivalent</h6></td>
          <td></td>
        </tr>

        <tr>
          <td><h6>Approved by: </h6></td>
          <td></td>
        </tr>

        <tr>
          <td><h6>________________________________________</h6>
          <h6>Chairperson, Personnel Development Committee</h6></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="random">
      <p><input  class="btn btn-success" id="btnSubmit" type="submit" value="Print" onclick="divPrint(printable);" /></p>
    </div>
    <div class="random">
      <table class='table'>
        <tr class='row'>
          <p class="bb"><b>Eligibility Status</b></p>
        </tr>
        <tr>
          <td><i>Do you have pending scholarship program from other inviting institution? </i></td>
          <td>{{ requestors.pending_scholarship }}</td>

        </tr>
        <tr>
          <td><i>Program Course or Title</i></td>
          <td>{{ requestors.scholarship_title}}</td>
        </tr>
        <tr>
          <td><i>Do you have pending Re-entry Action Plan (REAP) or Capstone Project? </i></td>
          <td>{{ requestors.pending_reentry_action_plan }}</td>
        </tr>
        <tr>
          <td><i>REAP Title or Capstone Project</i></td>
          <td>{{ requestors.reap_title }}</td>
        </tr>

      </table>
    <div class="random">
      <table class='table'>
        <tr class='row'>
          <p class="bb"><b>Required Attachments</b></p>
        </tr>
        <tr>
          <td><i>Personal Data Sheet</i></td>
          <td>{{ requestors.personal_data_sheet }} <input type="file" name=""></td>

        </tr>
        <tr>
          <td><i>Individual Performance Commitment and Review</i></td>
          <td>{{ requestors.individual_performance_commitment_and_review }} <input type="file" name=""></td>
        </tr>
        <tr>
          <td><i>Potential Assessment Form</i></td>
          <td>{{ requestors.potential_assessment_form }} <input type="file" name=""></td>
        </tr>
      </table>
    </div>
    </body>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      function divPrint() {
        // Some logic determines which div should be printed...
        // This example uses div3.
        $("#printable").addClass("printable");
        window.print();
      }
    </script>

</main>
{% endblock content %}
