{% extends "basetemp/main_base.html" %}
{% block content %}
{% load static %}
</table>



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>

<style>
table.dataTable thead {background-color:#00C851}

table.dataTable
{
  font-size: 13px;
  width: 100%;
  border: 0;

}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#demo {
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 30px;
    height: 38px;
    width: 0px;
}
#demo.in {
    width: 500px;
}


</style>



<div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &nbsp  &nbsp   MAINTENANCE  &nbsp &nbsp
              </button>
              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                  <li class="dropdown-item"><a href="#">Accounts</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-submenu">
                    <a  class="dropdown-item" tabindex="-1" href="#">Database</a>
                    <ul class="dropdown-menu">

                      <li class="dropdown-submenu">
                        <a class="dropdown-item" href="#">Travel Authority</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="{% url 'dtravelforeign'%}">Foreign</a></li>
                              <li class="dropdown-item"><a href="#">Local</a></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="dropdown-item" href="#">Scholarship</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#">Foreign</a></li>
                              <li class="dropdown-item"><a href="#">Local</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
          </div>
<br>


<div id="wrapper"
style="background-color: white;
margin-right: auto; margin-left:  auto;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 10px;
border-radius: 5px;">

  <div id="container">

<script>

$(document).ready(function(){

  $("[data-toggle='toggle']").click(function() {
      var selector = $(this).data("target");
      $(selector).toggleClass('in');
  });

  $('.filter').on('keyup change', function() {
    //clear global search values
    dtable.search('');
    dtable.column($(this).data('columnIndex')).search(this.value).draw();
  });

  $(".dataTables_filter input").on('keyup change', function() {
    //clear column search values
    dtable.columns().search('');
    //clear input values
    $('.filter').val('');
  });


  var dtable =  $('#table_id').DataTable(
    {
      responsive: {
        details: {
            type: 'column'
        }
    },
    columnDefs: [ {
        className: 'dtr-control',
        orderable: false,
        targets:   0
    } ],
    order: [ 1, 'asc' ],

            dom: 'lBrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',
                exportOptions: {columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19,20,21,22,23 ]},
                customize : function(doc){
                doc.pageMargins = [10, 10, 10,10 ];
                doc.styles.tableHeader.alignment = 'left';
                doc.defaultStyle.fontSize = 5;

                doc.styles.tableHeader.fontSize = 5;    //giustifica a sinistra titoli colonne
                doc.content[1].table.widths = [10,20,10,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45 ]; //costringe le colonne ad occupare un dato spazio per gestire il baco del 100% width che non si concretizza mai
                }

            },

            {
                extend: 'print',
                exportOptions: {columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]}
            }
            ]
        }

    );

} );




$(function(){
var loadForm =  function () {
    var btn = $(this);
    console.log(btn.attr("data-url"));
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-travel .modal-content").html("");
        $("#modal-travel").modal("show");
      },
      success: function (data) {
        $("#modal-travel .modal-content").html(data.html_form);
      }
    });
  }

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#table_id tbody").html(data.html_book_list);
          $("#modal-travel").modal("hide");
        }
        else {
          $("#modal-travel .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };




  $("#table_id").on("click", ".js-update-travel",  loadForm)
  $("#modal-travel").on("submit", ".js-travel-update-form", saveForm);
});


</script>



<h5>Database Travel Foreign</h5>
<button type="button" class="btn btn-primary btn-md"
        data-toggle="toggle" data-target="#demo">
    Search
</button>

<div id="demo" class="">


  <input  type="text" placeholder="Name" value='' class='filter' data-column-index='4'>


  <input type="text" placeholder="Referrence No."  value='' class='filter' data-column-index='1'>


  <input  type="text" placeholder="Year" value=''  class='filter' data-column-index='3'>


</div>
<br><br>


<table id="table_id" class="display" >
    <thead class="thead-dark">
        <tr>
          <th></th>
            <th>#</th>
            <th>FTA No.</th>
            <th>Sex</th>
            <th>Name</th>
            <th>Office</th>
            <th>Position</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Type of Travel</th>
            <th>Seminar Title/Purpose</th>
            <th>Destination</th>
            <th>Sponsor</th>
            <th>PRE-TRAVEL EXPENSE</th>
            <th>DSA$/DAY</th>
            <th>Clothing Allowance</th>
            <th>Remarks</th>
            <th>Sector</th>
            <th>Rep.Allowance(subject however to approval of OP)/Other Fees </th>
            <th>Other Remarks</th>
            <th> PTR submitted </th>
            <th>Echo Seminar/Post travel meeting </th>
            <th>Year</th>
            <th>PTR/DNPT Date of Receipt</th>
            <th>Acknowledgement</th>
            <th>Endorsement</th>


          <th style="width:5px">Action</th>


            </tr>
    </thead>
    <tbody>
      {% include 'action_officer/Database/travel_list.html' %}
    </tbody>
</table>
</div>


</div>

<div class="modal fade" id="modal-travel">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>





<!-- dont remove by BRIAN-->

</main>
{% endblock content %}
