{% extends "basetemp/main_base.html" %}
{% block content %}
{% load static %}
<style>
table {
	width: 100%;
}
th, td {
}
</style>

<script>

	$(document).ready(function(){
		if($('#id_status').val() == '13') {
			$('.resources').show();
		} else {
			$('.resources').hide();
		}

  $('#id_status').change(function(){
    if($('#id_status').val() == '13') {
      $('.resources').show();
    } else {
      $('.resources').hide();
    }
});

});
</script>





<div class="row">

        <div class="col-md-4 col-lg-4">
          <a href="#" target="_blank">
          <div class="widget-small primary coloured-icon"><i class="icon"></i>
            <div class="info">
              <h4>Filed: {{travel.date_filed}}</h4>
              <h6><small>By: {{travel.first_name}} {{requestors.last_name}}</small></h6>
            </div>
          </div></a>
        </div>
</div>

<!-- start of table -->
<div class="container">
	<table class='table' border="0">
		<tr>
			<td><b>Reference:</b> {{ travel.request_category.shorterm  }}{{ travel.date_filed|date:"y-m-d"}}-00{{ travel.incrementor }}</td>
		</tr>
		<tr>
			<td><b>Category:</b> {{ travel.sub_category }}</td>
		</tr>

		<tr>
			<td><b>Sector:</b> {{ travel.sector}}</td>
		</tr>

		<tr>
			<td><b>Program Title:</b> {{ travel.program_title }}</td>
		</tr>

		<tr>
			<td><b>Attendee:</b> {{travel.first_name}} {{travel.last_name}}</td>
		</tr>

		<tr>
			<td><b>From:</b> {{ travel.programdates_from }} <b> to:</b> {{ travel.programdates_to }}</td>
		</tr>
		{% if travel.request_category_id == 3 %}
		<tr>
			<td>
				<b>Without Government Expense: </b> <input type="checkbox" {% if travel.nt_without_gov_expense == 1 %}checked{% endif %}>
			</td>
		</tr>

		{% endif %}
		<tr>
			<td><b>Personal Data Sheet:</b>


				<i>No attachment</i>

	 </td>
		</tr>
<tr>
	<td>
			<b>Individual Performance Commitment and Review</b>:

			<i>No attachment</i>

		</td>
		</tr>
		<tr>
			<td>
					<b>Potential Assessment Form</b>:




					<i>No attachment</i>

				</td>
				</tr>





	</table>

<form method="POST" enctype="multipart/form-data">
	{%csrf_token%}
{% if travel.request_category_id == 3 %}
	{% if travel.nt_without_gov_expense == 1 %}
	&nbsp; &nbsp;<b>Without Government Expense: <a href="{% static 'basetemp/wo.docx' %}" download>Without Government Expense Template</a></b>
	{%else%}
	&nbsp; &nbsp;<b>With Government Expense: <a href="{% static 'basetemp/we.docx' %}" download>With Government Expense Template</a></b>
	{% endif %}
	{{form.nt_gov_expense_file}}
	<br><br>

{% endif %}

&nbsp &nbsp<b>Status: {{form.status}}</b>
<br><br>


<div class="resources">
&nbsp &nbsp<b>TA Signed Upload: &nbsp {{form.ta_signed_upload}}</b>
</div>
<br><br>
&nbsp &nbsp<button type="submit" class="btn btn-success" position='right'>Submit</button>

</form>
</div>

<!-- end of table -->

<!-- dont remove by BRIAN-->
</main>
{% endblock content %}
